<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"> 
  <display-name>Tahar Hidja et Hacen Kacedi</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>pages.servlets.IndexPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>pages.servlets.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ProfilePage</servlet-name>
  	<servlet-class>pages.servlets.ProfilePage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProfilePage</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetPicture</servlet-name>
  	<servlet-class>services.servlets.pictures.GetPicture</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>GetPicture</servlet-name>
   <url-pattern>/picture/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetPicture</servlet-name>
    <servlet-class>services.servlets.pictures.SetPicture</servlet-class>
    <multipart-config>
      <location>/</location> 
      <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
      <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
      <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
    </multipart-config>
  </servlet>
  <servlet-mapping>
   <servlet-name>SetPicture</servlet-name>
   <url-pattern>/picture/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>services.servlets.user.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>services.servlets.user.UpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/user/updateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>services.servlets.user.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/user/updatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>services.servlets.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>services.servlets.user.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>Comments</servlet-name>
   <servlet-class>services.servlets.comments.Comments</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Comments</servlet-name>
  	<url-pattern>/comments</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>AddComment</servlet-name>
   <servlet-class>services.servlets.comments.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddComment</servlet-name>
  	<url-pattern>/comment/add</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>DeleteComment</servlet-name>
   <servlet-class>services.servlets.comments.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteComment</servlet-name>
  	<url-pattern>/comment/delete</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>AddFriend</servlet-name>
   <servlet-class>services.servlets.friends.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddFriend</servlet-name>
  	<url-pattern>/friend/add</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>AcceptFriend</servlet-name>
   <servlet-class>services.servlets.friends.AcceptFriend</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AcceptFriend</servlet-name>
  	<url-pattern>/friend/accept</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>RefuseFriend</servlet-name>
   <servlet-class>services.servlets.friends.RefuseFriend</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RefuseFriend</servlet-name>
  	<url-pattern>/friend/refuse</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>RemoveFriend</servlet-name>
   <servlet-class>services.servlets.friends.RemoveFriend</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RemoveFriend</servlet-name>
  	<url-pattern>/friend/remove</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>Like</servlet-name>
   <servlet-class>services.servlets.like.Like</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Like</servlet-name>
  	<url-pattern>/comment/like</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>UnLike</servlet-name>
   <servlet-class>services.servlets.like.UnLike</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UnLike</servlet-name>
  	<url-pattern>/comment/unlike</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>Notifications</servlet-name>
   <servlet-class>services.servlets.notifications.Read</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Notifications</servlet-name>
  	<url-pattern>/notifications</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>Consume</servlet-name>
   <servlet-class>services.servlets.notifications.Consume</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Consume</servlet-name>
  	<url-pattern>/notification/consume</url-pattern>
  </servlet-mapping>
</web-app>